/* your styles go here */
.borderTabContentDiv nav{
    padding-left: 20px;
}
.borderTabContentDiv .nav.nav-tabs{
    display: flex;
    align-items: flex-end;
}
.borderTabContentDiv .borderTabContent{
    border: 1px solid #dedede;
    padding: 10px 20px 30px;
    border-radius: 5px 5px 5px 5px;
}

.borderTabContentDiv .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 5px 5px 0 0px;
    height: 42px;
}

.borderTabContentDiv .nav-tabs .nav-link{
    background: white;
    color: inherit;
    font-size: 0.75rem;
    padding: 9px 1rem;
    height: 35px;
    border: 1px solid #dedede;
    border-radius: 5px 5px 0 0px;
    border-bottom: 1px solid transparent;
}


